.topic-header {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 50vh;
  justify-content: center;
  align-items: center;
}
.topic-background-image:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #ffffff00 0%, #000413 100%);
  height: 40%;
}
.topic-background-image {
  width: 100%;
  height: 100%;
  filter: blur(5px);
  background-size: cover !important;
  background: url("/public/images/topics/Engineering.png") no-repeat center
    center fixed;
}
