.project-container {
  margin: 100px 16px;
}

.header-container {
  justify-self: center;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 2.5vw;
  font-family: "M PLUS 1 Code", monospace;
  color: #ffffff;
  margin: 16px;
  padding-top: 64px;
}

.description {
  color: #ffffff;
  font-weight: 200;
  width: 75%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}
.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.description-container {
  width: 40%;
  transform: translate(-7.5vw, 0px);
}
.image-container {
  width: 60%;
}

@media screen and (max-width: 850px) {
  .content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description-container {
    transform: translate(0px, 0px);
    width: 100%;
    margin-top: 64px;
  }
  .image-container {
    width: 100%;
  }
}
