.project-container {
  margin: 100px 16px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2.5vw;
  font-family: "M PLUS 1 Code", monospace;
  color: #ffffff;
  margin: 16px;
  padding-top: 32px;
}
.sub-header-container {
  font-size: 1.5rem;
  letter-spacing: 0.5vw;
  font-family: "M PLUS 1 Code", monospace;
  color: #ffffff7c;
}

.description {
  color: #ffffff;
  font-weight: 200;
  width: 75%;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}
.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.description-container {
  width: 40%;
  transform: translate(-5vw, 0px);
}
.image-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-image {
  object-fit: cover;
  width: 70%;
  float: left;
}

.splide__arrow--next {
  transform: translateX(-2vw) !important;
}
.splide__arrow--prev {
  transform: translateX(2vw) !important;
}
.letter:nth-child(5) {
  animation-delay: 0.4s;
  margin-right: 100px;
}

@media screen and (max-width: 850px) {
  .content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description-container {
    transform: translate(0px, 0px);
    width: 100%;
    margin-top: 64px;
  }
  .image-container {
    width: 100%;
  }
}
