.project-container {
  margin-bottom: 16px;
  height: 100%;
}

.header-container {
  justify-self: center;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 2.5vw;
  font-family: "M PLUS 1 Code", monospace;
  color: #ffffff;
  margin: 16px;
  padding-top: 100px;
}

.description {
  color: #ffffff;
  font-weight: 200;
  width: 75%;
}

.content-container {
  display: flex;
  margin-top: 32px;
  justify-content: center;
  align-items: center;
}

.image {
  color: #ffffff;
  height: 100%;
}
.image-unfocused {
  width: 30%;
  z-index: -1;
  opacity: 0.75;
}
.image-unfocused-left {
  transform: translate(10vw, 0px);
}
.image-unfocused-right {
  transform: translate(-10vw, 0px);
}
.image-focused {
  box-shadow: 0px 0px 32px 10px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  z-index: 99;
}
.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}

.description-container {
  width: 40%;
}
.image-container {
  width: 60%;
  height: 100%;
}
.image-focus-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 99;
}

.icon-arrow {
  color: #ffffff;
  font-size: 1.5rem;
}
.arrow-button {
  background-color: none;
}
