.content-container-home {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  background-color: #000413;
  box-shadow: -1px -19px 26px 4px #600000;
}
.home-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.letter {
  color: #ffffff;
  margin: 0px 16px;
  font-size: 5rem;
  font-weight: bold;
  font-family: "M PLUS 1 Code", monospace;
}
.linear-gradient-background {
  background-image: url("/public/images/banner/Portfolio_Banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  z-index: -100;
  filter: blur(2px);
}
.banner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 500px;
}
.home-title-container {
  justify-content: center;
  align-items: center;
  padding: 100px 7vw 32px 7vw;
  margin: 16px;
  z-index: 10;
  position: relative;
}

.home-description-text {
  color: #ffffff;
  align-self: center;
  text-align: center;
  margin-top: 64px;
  text-align: center;
  z-index: 10;
}

.spacer {
  width: 100%;
  height: min-content;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layered-waves {
  aspect-ratio: 900/200;
  background-image: url("../../../public/svgs/layered-waves-haikei.svg");
}
.fa-caret-down {
  font-size: 3rem;
  opacity: 0.5;
  transform: translateY(40px);
}
.letter {
  transform: translateY(-60px);
  opacity: 0;
  animation: letterAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
