.content-container {
  position: relative;
  background-color: #000721;
}

.home-title {
  justify-self: center;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2.5vw;
  font-family: "M PLUS 1 Code", monospace;
  color: #ffffff;
  margin: 16px;
  padding-top: 100px;
}
.linear-gradient-background {
  background: linear-gradient(#300f00, #600000);
}
.home-title-container {
  justify-content: center;
  align-items: center;
  padding: 10px 16px 32px 16px;
}

.desc-text {
  color: #ffffff;
}

.spacer {
  aspect-ratio: 900/200;
  width: 100%;
  height: min-content;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layered-waves {
  background-image: url("../../../public/layered-waves-haikei.svg");
}
