.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: center;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2.5vw;
  font-family: "M PLUS 1 Code", monospace;
  color: #ffffff;
  padding-top: 16px;
}
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}
.description-container {
  width: 40%;
  transform: translate(-5vw, 0px);
}
.image-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-image {
  object-fit: cover;
  width: 70%;
  float: left;
}

.splide__arrow--next {
  transform: translateX(-2vw) !important;
}
.splide__arrow--prev {
  transform: translateX(2vw) !important;
}

.overview-container {
  background-color: #000413;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 850px) {
  .content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description-container {
    transform: translate(0px, 0px);
    width: 100%;
    margin-top: 64px;
  }
  .image-container {
    width: 100%;
  }
}
