.first-word > .letter:nth-child(1) {
  animation-delay: 0s;
}
.first-word > .letter:nth-child(2) {
  animation-delay: 0.1s;
}
.first-word > .letter:nth-child(3) {
  animation-delay: 0.2s;
}
.first-word > .letter:nth-child(4) {
  animation-delay: 0.3s;
}
.first-word > .letter:nth-child(5) {
  animation-delay: 0.4s;
}

.second-word > .letter:nth-child(1) {
  animation-delay: 0.5s;
}
.second-word > .letter:nth-child(2) {
  animation-delay: 0.6s;
}
.second-word > .letter:nth-child(3) {
  animation-delay: 0.7s;
}
.second-word > .letter:nth-child(4) {
  animation-delay: 0.8s;
}

.header-container {
  background-color: #000413;
  box-shadow: 0px 2vw 0px -1vw #00041397, 0px 4vw 0px -2vw #00041366;
  position: relative;
}
