* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
}
html,
body,
#root {
  margin: 0;
  min-height: 100vh;
}

#root {
  position: relative;
}
.letter {
  letter-spacing: 1vw;
}
.letter:nth-child(1) {
  animation-delay: 0s;
}
.letter:nth-child(2) {
  animation-delay: 0.1s;
}
.letter:nth-child(3) {
  animation-delay: 0.2s;
}
.letter:nth-child(4) {
  animation-delay: 0.3s;
}
.letter:nth-child(5) {
  animation-delay: 0.4s;
}
.letter:nth-child(6) {
  animation-delay: 0.5s;
}
.letter:nth-child(7) {
  animation-delay: 0.6s;
}
.letter:nth-child(8) {
  animation-delay: 0.7s;
}
.letter:nth-child(9) {
  animation-delay: 0.8s;
}
.letter:nth-child(10) {
  animation-delay: 0.9s;
}
.letter:nth-child(11) {
  animation-delay: 1s;
}
@keyframes letterAnimation {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.description-text-transition {
  animation: descriptionTextAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transform: translateY(-60px);
  opacity: 0;
}

@keyframes descriptionTextAnimation {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 1180px) {
  .letter {
    font-size: 4rem !important;
    letter-spacing: normal;
  }
}

@media screen and (max-width: 800px) {
  .letter {
    font-size: 3rem !important;
    letter-spacing: normal;
  }
}
